name: Android CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build Release APK
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install Android SDK
      uses: android-actions/setup-android@v2
      with:
        api-level: 29
        build-tools: 29.0.3
        ndk: "21.4.7075529"

    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew

    - name: Build release APK
      env:
        CI: true
      run: ./gradlew assembleRelease --warning-mode=all

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: simblast-release-apk
        path: "presentation/build/outputs/apk/withAnalyticsRelease/*.apk"
